<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>What we do</h2>
      <p>Oak Tree Group keeps people connected using unobtrusive technology.</p>
      <p>
        <span class="fa-layers fa-fw">
          <i class="fa fa-comments fa-3x" data-fa-transform="left-3" aria-hidden="true"></i>
        </span>
      </p>
      <p>Our first offering, <a href="http://grancentral.ai">GranCentral&trade;</a>, uses a voice interface and machine learning to make "aging in place" safer.</p>
    </div>
  </div>
</section>
